.encabezado {
    background: rgb(59, 35, 113);
    color: rgb(255, 255, 255);
}

.right {
    float: right;
    padding: 10px;
}

.margen {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    margin: 0;
}